## .gitignore для .NET / WPF

# Build results
bin/
obj/
out/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
packages/
.nuget/

# ReSharper
_ReSharper*/
*.DotSettings.user

# OS
.DS_Store
Thumbs.db
